
div#brand svg {
    width: 24rem;
}

nav {
    max-height: 0;
	overflow: hidden;
}

.heading-row, .data-row {
    display: grid;
    grid-template-rows: 1em;
}

main {
	padding: 0 0 1em 0; 
}

#page-data-controls {
	padding: 1em 0 0 1em;
}

div.heading-row {
	max-height: 0;
	overflow: hidden;
}

.heading-row div {
    align-self: center;
}

.data-row div {
    align-self: center;
}

.data-row {
    padding: 1rem 0 1rem 1rem;
}

.data-row a {
    text-align: center;
    color: white;
    padding: .1em .2em .1em .2em;
    border-radius: .25em;
    width: 5em;
    display: inline-block;
}

.data-row a.btn-1 {
    color: #4a5568;
    background-color:rgb(100, 149, 237, 0.6);
} 

.data-row a.btn-2 {
    color: #4a5568;
    background-color:rgb(0, 250, 154, 0.6);
} 

.even-row {
    background: rgba(152, 251, 152, 0.1); 
}

.odd-row {
    background-color: ivory;
}

@media screen and (min-width: 768px) {
	div.heading-row {
		max-height: 400px;
	}

	#page-data-controls {
		padding: 0 0 0 0;
	}

    div#brand svg {
        width: 40rem;
    }
    
    main {
        padding: 1rem;
    }

    nav {
        max-height: 4000px;
    }

   .heading-row, .data-row {
        display: grid;
        grid-template-rows: 3em;
        grid-template-columns: 40% 30% 20%;
    }

 
    .heading-row div {
        align-self: center;
        padding: .5em;
    }

    .data-row div {
        align-self: center;
        padding: .5em;
    }

    data-row {
        padding: 0;
    }
}
