<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ActiveDBName" value="Local"/>
    <add key="Local" value="*Public/DG NET Local"/>
    <add key="ibmi" value="*Public/Cypress"/>
    <!-- Disable MS's BrowserLink feature. -->
    <!-- https://docs.microsoft.com/en-us/aspnet/visual-studio/overview/2013/using-browser-link -->
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
</configuration>